
@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class=" row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Message From Principal And Director</h3>
            </div>
            <div class="panel-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Principal's Message</h3>
                    </div>
                    <div class="panel-body">
                        

                        <p>
                            Welcome to Rato Bangala School

                            Whether you visit us online or in person we hope you will get a sense of what Rato Bangala is, and the mission that drives us. We are a progressive learning community that works to educate the whole person and transform individuals and ultimately the world.

                            Since it started in 1992, we have worked on learning by doing, providing a rich experience in and out of the classroom to nurture critical thinkers.  Our approach is interdisciplinary, experiential and collaborative. Our students are encouraged not only to explore the world of knowledge but also their own behaviour. They then grow up to be concerned citizens who care about making a difference in the world.
                        </p>

                        <p>
                            As a school with a tradition of academic excellence, we work to create an environment that fosters Reason Respect and Responsibility in young minds. Our team of teachers are trained and highly motivated.

                            However difficult things are at present, we are optimistic about our country’s futurebecause it is the future that we are building at Rato Bangala.
                        </p>

                        <p>We invite you to learn more about Rato Bangala School and the Rato Bangala Foundation that work together to create a dynamic learning environment for children, teachers and parents in Nepal.</p>

                        Thank you,
                        <br />
                        Milan Dixit<br />
                        Principal

                        <br />
                    </div>
                </div>
                
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Director's Message</h3>
                    </div>
                    <div class="panel-body">
                       

                       <p> Working hard for more than two decades, Rato Bangala has been established as a brand name that is known nationally as well as internationally. While the School is created to provide the best of progressive education to those within the Campus, as described by the Principal, the work outside the school premises is of great importance to bring about meaningful change in the lives of Nepali children who are not able to attend Rato Bangala School.</p>

                        <p>Through the Rato Bangala Partnership in Outreach Program, a fund created and managed together with the parents, Rato Bangala gets the opportunity to work with the Government and bring meaningful change in schools where 80% of Nepali children attend.</p>

                      <p>  Rato Bangala Foundation, through teacher training, research and development of new and innovative modules for teaching, works to bring meaningful education within the government and private school classrooms.

                        You are invited to visit this online sight as well as our premises in Patan Dhoka to learn more about our work.</p>

                        Thank you,
                        <br />
                        Shanta Dixit<br />
                        Director

                        <br />
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class=" row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Faculty(Teachers)</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class=" row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">About BloomingFlower School</h3>
            </div>
            <div class="panel-body">
               

               <p> BloomingFlower School is a co-educational school that also houses a teacher training institute. It has a unique dual programme that caters to students through the Rato Bangala School and teachers through the UNESCO award winning Rato Bangala Foundation.

               <p> BloomingFlower opened in Lalitpur, Nepal, in 1992 with a commitment to groom Nepali students to be analytical independent thinkers aware of both the country's present situation and its potential. To make learning meaningful and relevant, the school works closely with parents and the wider community. It emphasizes cooperative action, community service and critical thinking.</p>

                By recognizing individual aptitudes and strengths, Rato Bangala motivates students to be life-long learners. The school believes that academic excellence should go hand in hand with social and emotional growth. With its rigorous and stimulating curriculum, the school helps develop confident and articulate individuals who are committed to justice and development.</p>

                Affiliated since its inception with Bank Street College of Education in New York City, Rato Bangala has introduced to Nepal the best of the progressive education system and adapted it to fit the Nepali context. The school follows the Development-Interaction approach. The programme that Rato Bangala School offers has served as a model for other schools in Nepal and around the region who wish to introduce a student-centred education in their own respective schools and offer the same high quality education Rato Bangala does .It strives to replicate its innovative teaching methods and quality instruction, the Rato Bangala Method, in schools across Nepal.
            </div>
        </div>
    </div>
</div>

