
@{
    ViewBag.Title = "Admissions";
}


<div class="container">
    <div class=" row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Admissions</h3>
            </div>
            <div class="panel-body">
                <h3 class="panel-title">Admission Open</h3>
                <hr />
                Parents seeking admission for their child in other grades, are requested to contact the School Office to place their child on the Waiting List. The School office will contact them should there be a vacancy.<br />

                Parents are requested to download the forms from here for the vacant position for their child.The below documents are to be submitted:<br />
                -Immunization Record<br />
                -Birth Certificate<br />
                -Recent Report Card<br />
                -1 Passport size Photo
            </div>
        </div>
    </div>
</div>

